<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.python.pydev.debug.regularLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BisulfiteSeq Bismark/bismarkToBedGraph.py"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${workspace_loc:BisulfiteSeq Bismark/bismarkToBedGraph.py}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_OTHER_WORKING_DIRECTORY" value="${workspace_loc:BisulfiteSeq Bismark}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="--bismark &quot;/mnt/50tb/privatedata/non-Adams/Oliver.Maddocks/hg19_RRBS/aggregate_duplicates/Meth_CpG_SerNeg1/CpG_context_aggregate.txt.binom.0.01FDR_CoverageCorrected.txt&quot; --methBedGraph &quot;/mnt/50tb/privatedata/non-Adams/Oliver.Maddocks/hg19_RRBS/aggregate_duplicates/Meth_CpG_SerNeg1/CpG_context_aggregate.txt.binom.0.01FDR_CoverageCorrected.meth.bedGraph&quot; --percentageBedGraph &quot;/mnt/50tb/privatedata/non-Adams/Oliver.Maddocks/hg19_RRBS/aggregate_duplicates/Meth_CpG_SerNeg1/CpG_context_aggregate.txt.binom.0.01FDR_CoverageCorrected.percentage.bedGraph&quot; --coverageBedGraph &quot;/mnt/50tb/privatedata/non-Adams/Oliver.Maddocks/hg19_RRBS/aggregate_duplicates/Meth_CpG_SerNeg1/CpG_context_aggregate.txt.binom.0.01FDR_CoverageCorrected.coverage.bedGraph&quot;"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:BisulfiteSeq Bismark}"/>
<stringAttribute key="org.python.pydev.debug.ATTR_INTERPRETER" value="__default"/>
<stringAttribute key="org.python.pydev.debug.ATTR_PROJECT" value="BisulfiteSeq Bismark"/>
<intAttribute key="org.python.pydev.debug.ATTR_RESOURCE_TYPE" value="1"/>
<stringAttribute key="process_factory_id" value="org.python.pydev.debug.processfactory.PyProcessFactory"/>
</launchConfiguration>
